{% extends 'app/base.html' %}
{% load static %}
{% block title %} Customer Registration {% endblock title %}


{% block main_content %}


<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4 text-center">Login Now</h1>
    <section>
        <h3 class="text-xl font-semibold mb-4 text-gray-800">Customer Registration Form</h3>
        <form action="" method="post" novalidate class="space-y-6">
            {% csrf_token %}
            {% for item in form %}
                <div class="flex flex-col">
                    <label class="block text-sm font-medium text-gray-700">
                        {{ item.label_tag }}
                    </label>
                    <div class="mt-1">
                        {{ item }}
                    </div>
                    <small class="text-red-500">{{ item.errors|striptags }}</small>
                </div>
            {% endfor %}
            <input type="submit" value="Submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
            <div>
                <small>Do not have account? <a class="underline text-blue-700" href="{% url 'registration' %}">Signup Now</a></small>
            </div>
        </form>
    </section>
</div>

{% endblock main_content %}

