py_module
py_modules
_py_modules
__pycache__
instance
.env

env_module
py_env_module
.venv
db_backup


# .flaskenv
# .env

# env ilist
node_modules
venv
.env
.env.local
build
dist

# Ignore Python cache files at all levels
**/__pycache__/
__pycache__/

# Python temp files
__pycache__/
*.py[cod]
*$py.class

